### Configuración

In [1]:
# Instalación de MySQL Connector Python y Pandas
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: mysql-connector-python in c:\python310\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python310\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Importación de MySQL Connector y Pandas
import mysql.connector
import pandas as pd

In [3]:
# Conexión a la base de datos de MySQL
cnx = mysql.connector.connect(
   host="localhost",
   port=3306,
   user="root",
   password='2023*DaSci',
   database='project_processpython'
)

In [13]:
# REVISAMOS TODAS LAS TABLAS DE LA BASE DE DATOS y Confirmamos el nombre de la tabla 1
# Realización de lecturas a nuestra base de datos creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de tablas
cursor.execute("SHOW TABLES")
#Extracción de información
all_tables = cursor.fetchall()
all_tables[0]
# Para cerrar el cursor
# cursor.close()

('n00_accounts_catalog',)

In [15]:
# Realización de la lectura de la tabla n00_accounts_catalog creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de la tabla CATALOGO DE CUENTAS (n00_accounts_catalog)
cursor.execute("SELECT * FROM n00_accounts_catalog")
#Extracción de información
accounts_catalog = cursor.fetchall()
# accounts_catalog

# Prueba con una fila
# accounts_catalog[0]

# Construimos el DataFrame de CATÁLOGO DE CUENTAS
df_accounts_catalog = pd.DataFrame(accounts_catalog, columns=['num_campo','nombre_tabla','descripcion_tabla', 'nombre_columna', 'descripcion', 'descripcion_ingles', 'nuevo_nom_col'])
# print(df_accounts_catalog)
# Convertir la columna user_id en índice 
df_accounts_catalog = df_accounts_catalog.set_index('num_campo', drop=True)
df_accounts_catalog.head()

# Para cerrar el cursor
# cursor.close()

,nombre_tabla,descripcion_tabla,nombre_columna,descripcion,descripcion_ingles,nuevo_nom_col
num_campo,,,,,,
1,01_fibras_catalog,CatÃ¡logo de FIBRAs,Ticker,Clave del ticker (FIBRA),,ticker
2,01_fibras_catalog,CatÃ¡logo de FIBRAs,Emisor,Emisor de la FIBRA,,emisor
3,01_fibras_catalog,CatÃ¡logo de FIBRAs,Inmueb_relev,Principales inmuebles de la FIBRA,,inmue_relev
4,01_fibras_catalog,CatÃ¡logo de FIBRAs,year_list,AÃ±o de listado,,year_list
5,01_fibras_catalog,CatÃ¡logo de FIBRAs,Sector,Principal sector de la FIBRA,,sector

### Análisis preliminar de la tabla

In [9]:
# Dimensiones de DataFrame accounts_catalog
df_accounts_catalog.shape

(153, 6)

In [16]:
# Nombres de las columnas de DataFrame accounts_catalog
# df_accounts_catalog.columns
# Tipos de datos de DataFrame accounts_catalog
df_accounts_catalog.dtypes

nombre_tabla          object
descripcion_tabla     object
nombre_columna        object
descripcion           object
descripcion_ingles    object
nuevo_nom_col         object
dtype: object

In [12]:
# Mas información de DataFrame accounts_catalog
df_accounts_catalog.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153 entries, 1 to 153
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_tabla        153 non-null    object
 1   descripcion_tabla   153 non-null    object
 2   nombre_columna      153 non-null    object
 3   descripcion         153 non-null    object
 4   descripcion_ingles  153 non-null    object
 5   nuevo_nom_col       153 non-null    object
dtypes: object(6)
memory usage: 8.4+ KB