### Configuración

In [ ]:
# Instalación de MySQL Connector Python y Pandas
!pip install mysql-connector-python
!pip install pandas

In [ ]:
# Importación de MySQL Connector, Pandas y Numpy
import mysql.connector
import pandas as pd
import numpy as np
import datetime
import re

In [ ]:
# Conexión a la base de datos de MySQL
cnx = mysql.connector.connect(
   host="localhost",
   port=3306,
   user="root",
   password='2023*DaSci',
   database='project_processpython'
)

In [ ]:
# REVISAMOS TODAS LAS TABLAS DE LA BASE DE DATOS y Confirmamos el nombre de la tabla 2
# Realización de lecturas a nuestra base de datos creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de tablas
cursor.execute("SHOW TABLES")
#Extracción de información
all_tables = cursor.fetchall()
all_tables[2]
# Para cerrar el cursor
# cursor.close()

In [ ]:
# Realización de lecturas a nuestra base de datos creando un objeto llamado cursor.
cursor = cnx.cursor()
# Consulta de la tabla PRECIOS HISTORICOS (n11_price_hist)
cursor.execute("SELECT * FROM n11_price_hist")
#Extracción de información
price_hist = cursor.fetchall()
# price_hist

# Revisión de una fila
# price_hist[0]

# Construimos el DataFrame PRECIOS HISTORICOS
df_price_hist = pd.DataFrame(price_hist, columns=['num_reg', 'date_price', 'ticker_price', 'open_price', 'high_price', 'low_price', 'close_price', 'adj_lose_price', 'vol_trade'])
# Se utilizó una lista para nombrar las columnas.

# Convertir la columna num_reg en índice 
df_price_hist = df_price_hist.set_index('num_reg', drop=True)
df_price_hist.head()

# Para cerrar el cursor
# cursor.close()

In [ ]:
# Revisión de una fila
# price_hist[0]

### Análisis preliminar de la tabla

In [ ]:
# Dimensiones del DataFrame PRECIOS HISTORICOS
df_price_hist.shape

In [ ]:
# Tipos de datos de DataFrame PRECIOS HISTORICOS
df_price_hist.dtypes

### Despliegue del DataFrame

In [ ]:
# Despliegue final de todo el DataFrame PRECIOS HISTORICOS. Solo se mostrarán algunos resultados debido 
# al gran tamaño de la tabla.
df_price_hist

In [ ]:
all_df_price_hist=df_price_hist

# Aplicación de los conocimientos

In [ ]:
# Escribir aquí

## Practicas básicas

In [ ]:
# Variables
danhos13_open = 19.889999
danhos13_high = 19.940001
danhos13_low = 19.549999
danhos13_close = 19.580000
fmty14_close = 10.770000
cant_danhos13 = 5
cant_fmty14 = 10

In [ ]:
# Acceder a una variable
danhos13_open

In [ ]:
# Operadores - Suma
compra_total = danhos13_close + fmty14_close
# Operadores - resta
var_dia_danhos13 = danhos13_close - danhos13_open
# Operadores - Multiplicación
monto_compra = (danhos13_close * cant_danhos13) + (fmty14_close * cant_fmty14)
# Operadores - División
por_var_danhos13 = (danhos13_close - danhos13_open) / danhos13_open

In [ ]:
# Despliegue de resultados de multiples valores. El “\n” nos pone saltos de línea para decorar la salida.
print(compra_total)
print(var_dia_danhos13)
print("\n")
print(monto_compra)
print(por_var_danhos13)

In [ ]:
# Tipos de datos
type_danhos13_close = type(danhos13_close)
type_cant_danhos13 = type(cant_danhos13)
print(type_danhos13_close)
print(type_cant_danhos13)

In [ ]:
# Imprimir strings y números en una misma frase
print(f'Monto total de la compra: ${monto_compra}')

In [ ]:
# Comparaciones
danhos13_close > fmty14_close

In [ ]:
# Estructuras de control de flujo
if danhos13_close > danhos13_open:
    print("El precio de Danhos13 subió en el transcurso del día")
elif danhos13_close < danhos13_open:
    print("El precio de Danhos13 bajó en el transcurso del día")
else:
    print("El precio de Danhos13 no varió en el transcurso del día")

In [ ]:
# Ejemplo de listas
ejem_columns = ['num_reg', 'date_price', 'ticker_price', 'open_price', 'high_price', 'low_price', 'close_price', 'adj_lose_price', 'vol_trade']
ejem_columns

In [ ]:
# Imprimir elementos de una lista
print(ejem_columns[0])
print(ejem_columns[1])
print(ejem_columns[6])

In [ ]:
# Agregar un elemento de la lista
ejem_columns.append('average_price')
ejem_columns

In [ ]:
# Eliminar un elemento de la lista
ejem_columns.pop(9)
ejem_columns

## Ejemplos aplicados al DataFrame

In [ ]:
# Despliegue del DataFrame
df_price_hist.head(10)

In [ ]:
# Lectura de filas en el DataFrame
#Tamaño del DataFrame
total_registros = df_price_hist['ticker_price'].count()
# total_registros
# Resultado: 704

# df_price_hist.loc[705]

In [ ]:
try:
    df_price_hist.loc[705]
except:
    print("Llave inexistente")
# Ver despues como se puede aplicar

#### Obtenemos un diccionario

In [ ]:
# Ejemplo de diccionario
# Accedemos a una fila del dataFrame 'df_price_hist' y la convertimos en un diccionario
f0_df_price_hist = df_price_hist.iloc[0].to_dict()
# El diccionario que estaremos utilizando
f0_df_price_hist

#### Definición de algunas funciones y variables

In [ ]:
# Definimos la variable por la cual vamos a multiplicar los precios
total_tickers = 15

In [ ]:
# Definimos variables a utilizar en las funciones aplicadas en el diccionario
open_p = f0_df_price_hist['open_price']
close_p = f0_df_price_hist['close_price']

In [ ]:
# Función para obtener el precio promedio
def f_ave_price(primero, segundo):
    r_ave_price = (primero + segundo)/2
    return r_ave_price

In [ ]:
# Función para calcular porcentaje de variación
def porcen_var(primero, segundo):
    porcentaje = ((segundo-primero)/primero) * 100
    return porcentaje

In [ ]:
# Función para calcular monto de compra de 15 tickers
def monto_compra(precio):
    # monto_de_compra = precio * 15
    monto_de_compra = precio * total_tickers
    return monto_de_compra

In [ ]:
#  Función para para calcular si el precio es menor a 19.90
def precio_sub_19_90(numero):
    if numero < 19.90:
        return True
    else:
        return False

In [ ]:
#  Función para para calcular si el precio es mayor a 19.60
def precio_sup_19_60(numero):
    if numero > 19.60:
        return True
    else:
        return False

In [ ]:
#  Función para para calcular si el precio es menor a 19.90 y mayor a 19.60
def precio_sub_19_90_y_precio_sup_19_60(numero):
    if precio_sub_19_90(numero) and precio_sup_19_60(numero):
         return True
    else:
        return False

In [ ]:
# Función para ver si está FMTY14
def hay_FMTY14(ticker):
    if ticker == 'FMTY14':
        return True
    else:
        return False

In [ ]:
# Función para ver si está FUNO11
def hay_FUNO11(ticker):
    if ticker == 'FUNO11':
        return True
    else:
        return False

In [ ]:
# Función para ver si está FMTY14 o FUNO11
def hay_FMTY14_o_hay_FUNO11(ticker):
    if hay_FMTY14(ticker) or hay_FUNO11(ticker):
        return True
    else:
        return False

### Aplicando lo visto en el DataFrame

In [ ]:
# Agregar datos a nuestro diccionario aplicando la función para en la agregación de datos a nuestro diccionario
ave_price = f_ave_price(close_p, open_p)
f0_df_price_hist['average_price'] = ave_price
f0_df_price_hist

In [ ]:
# Modificar datos de nuestro dicionario
f0_df_price_hist['vol_trade'] = 235374
f0_df_price_hist

In [ ]:
# Eliminar datos de nuestro diccionario
f0_df_price_hist.pop('average_price')
f0_df_price_hist

In [ ]:
# Calculamos cuanto varió el precio ese día (usamos la función de variación y una estructura de control)
var_DANHOS13_20230922 = porcen_var(open_p, close_p)
if close_p > open_p:
    print(f'El precio de DANHOS13 incrementó en un {var_DANHOS13_20230922} % en el transcurso del día')
elif  close_p < open_p:
    print(f'El precio de DANHOS13 disminuyó en un {var_DANHOS13_20230922} % en el transcurso del día')
else:
    print("El precio no varió en el transcurso del día")

In [ ]:
# Uso de MAP
# Convertimos los indices y los valores del diccionario en listas
prices_index_list = list(f0_df_price_hist.keys())
prices_values_list = list(f0_df_price_hist.values())
print(prices_index_list)
print(prices_values_list)

In [ ]:
# Depuramos los valores de las listas dejando solo los precios
prices_index_list2 = prices_index_list[2:7]
prices_values_list2 = prices_values_list[2:7]
print(prices_index_list2)
print(prices_values_list2)

In [ ]:
# Determinamos los montos totales por pagar
total_x_15_tickers = list(map(monto_compra, prices_values_list2))
print('Total a pagar por 15 tickers:')
print("\n")
# Para no repetir código, aplicamos un FOR LOOPS
for i in range(0,5):
    print(f'{prices_index_list2[i]}: {total_x_15_tickers[i]}')

In [ ]:
# Uso de FILTER precio menor a 19.90
list(filter(precio_sub_19_90,prices_values_list2))

In [ ]:
# Uso de FILTER precio menor a 19.90 y mayor a 19.60 usando AND
list(filter(precio_sub_19_90_y_precio_sup_19_60,prices_values_list2))

In [ ]:
# Uso de OR
# Extraemos una lista de la columna ticker_price
lista_columna_price = df_price_hist['ticker_price'].tolist()
# lista_columna_price

# Uso de FILTER hay ticker FMTY14 o FUNO11 usando OR
list(filter(hay_FMTY14_o_hay_FUNO11,lista_columna_price))

In [ ]:
# FUNCIONES LAMBDA
# Ejemplo usando función LAMDA
list(filter(lambda x: not hay_FMTY14_o_hay_FUNO11(x), lista_columna_price))

In [ ]:
# SERIES
# Retomamos las listas creadas anteriormente para declarar una serie
# prices_index_list
# prices_values_list
serie_0 = pd.Series(data = prices_values_list, index = prices_index_list)
serie_0

In [ ]:
# Asignamos un nuevo valor a un índice
serie_0.loc['vol_trade'] = 235425
serie_0

In [ ]:
# Accedemos a multiples indices
serie_0.loc[['date_price','ticker_price','close_price']]

In [ ]:
# Accedemos a un rango de índices
serie_0.loc[:'open_price']

In [ ]:
# CONTINUACIÓN CON LA MANUPULACIÓN DE NUESTRO DATAFRAME
# Traemos de vuelta nuestro DataFrame para volver a familiarizarnos con el
df_price_hist.head(50)

In [ ]:
# Revisamos la columna 'date_price', 'ticker_price' y 'close_price'
df_price_hist[['date_price', 'ticker_price', 'close_price']]

In [ ]:
# Pedimos algunas filas
df_price_hist.loc[[4, 14, 22, 29, 36, 43, 50]]

In [ ]:
# Pedimos algunas filas y algunas columnas. Con el resultado creamos un nuevo DataFrame
df_price_FUNO11 = df_price_hist.loc[[4, 14, 22, 29, 36, 43, 50], ['date_price', 'ticker_price', 'open_price', 'close_price','vol_trade']]
df_price_FUNO11

In [ ]:
# MANIPULACIÓN DE COLUMNAS
# Utilizaremos el DataFrame df_price_FUNO11
# Creamos una nueva columna y le agregamos valores
tm = pd.Series(['3Q','3Q','3Q','3Q','2Q','2Q','2Q'], index=df_price_FUNO11.index)
df_price_FUNO11['TM'] = tm
df_price_FUNO11

In [ ]:
# Eliminar columnas
# Eliminamos la columna anteriormente creada
df_price_FUNO11_sTM = df_price_FUNO11.drop(columns=['TM'])
df_price_FUNO11_sTM

In [ ]:
# ADQUISICIÓN DE DATOS
# Para este proyecto no aplicaría por lo pronto el importar desde un JSON o CSV porque eso se hace desde MySQL.
# MySQL es la fuente de nuestros datos.

In [ ]:
# ANÁLISIS EXPLORATORIO DE DATOS
# Visto en Análisis Preliminar de la tabla en este Notebook y en el llamado "g00_general_notebook"

In [ ]:
#SERIES Y FUNCIONES VECTORIZADAS
# Extraemos la columna 'vol_trade' y la convertimos en serie
serie_vol_df_price_FUNO11 = pd.Series(df_price_FUNO11['vol_trade'].tolist())
# serie_vol_df_price_FUNO11
# hacemos una operación con la serie como dividir los montos entre 30 para tener un aproximado del volumen diario
(serie_vol_df_price_FUNO11)/30

In [ ]:
# Para saber el monto total del volumen negocioado en esos periodos
serie_vol_df_price_FUNO11.sum()

In [ ]:
# Para saber cuantos registros hay en cada columna de un DataFrame
df_price_FUNO11.count()

In [ ]:
# Determinar el precio promedio de cierre de FUNO 11 en el DataFrame df_price_FUNO11
suma_precios = df_price_FUNO11['close_price'].sum()
numero_precios = df_price_FUNO11['close_price'].count()

precio_promedio = suma_precios / numero_precios
precio_promedio

In [ ]:
# Funciones vectorizadas y Agregaciones con DataFrames
# Revisamos nuestro DataFrame muestra, df_price_FUNO11_sTM
df_price_FUNO11_sTM
# se aplicaron las agregaciones de sum() y count()

In [ ]:
# Funciones vectorizadas
df_price_FUNO11_sTM['close_price'] * 10

In [ ]:
# Creamos una copia del DataFrame
df_price_FUNO11_aveprice = df_price_FUNO11_sTM

# Calculamos el precio promedio diario
precio_promedio = (df_price_FUNO11_aveprice['close_price'] + df_price_FUNO11_aveprice['open_price']) / 2

# Creamos una nueva columna y le agregamos valores de los precios promedio
average_price = pd.Series(precio_promedio, index=df_price_FUNO11_aveprice.index)
df_price_FUNO11_aveprice['average_price'] = average_price
df_price_FUNO11_aveprice

In [ ]:
# NANS
# Durante la importación de algunos CSV en MySQL, el programa no nos importó muchas filas.
# Esa es la razón por la que algunas tablas les faltan varias filas.
# Checar en n17_edores_balgral, se hará si queda tiempo

In [ ]:
# REINDEXANDO
# Se aplicó en el Notebook n12_edores, uno de los afectados en la importación de NaNs

In [ ]:
# APIs
# No aplica para el proyecto

In [ ]:
# LOOPs
# Checar en el uso de MAP, se empleó para no repetir código

In [ ]:
# EXCEPCIONES
# Pendiente

In [ ]:
# CONCATENACIÓN DE DATAFRAMES - Pd.concat con DataFrames
# Checar en n17_edores_balgral

In [ ]:
# CASTING
# Astype
# Transformamos el tipo de datos de date_price con astype
df_price_FUNO11_aveprice['date_price'] = df_price_FUNO11_aveprice['date_price'].astype('datetime64[us]')
df_price_FUNO11_aveprice['date_price']

In [ ]:
# verificamos el cambio
df_price_FUNO11_aveprice.dtypes
# Correcto el cambio, pasada la presentación se procederá a cambiar todos los DataFrames con los que s eva a trabajar

In [ ]:
# To_numeric
# No aplica por el moment0
# pd.to_numeric(df('campo_por_convertir'))

In [ ]:
# Datetime64
# se empleó una variación con astype
# Considerar aplicar este modo en los demas DataFrames
# pd.to_date(df('campo_por_convertir.numberLong'))
# pd.to_date(df('campo_por_convertir.numberLong'), unit='ms')

In [ ]:
# MANIPULACIÓN DE STRINGS
# VER EN n00_accounts_catalog
# Pendientes los métodos métodos title, upper y lower 
# Pendiente la asignación de nuevas series

In [ ]:
# SPLIT
# Checarlo en n01_fibras_catalog

In [ ]:
# MAP
# Pendiente

In [ ]:
# APPLY
# Desplegamos nuestro dataFrame
df_price_FUNO11_aveprice

In [ ]:
# Creamos una función de reajuste de vol_trade
def reajuste_vol_trade(value):
    new_valor = value * 1.05
    return new_valor

In [ ]:
# Aplicamos la función para reajustar valores en el DataFrame
df_price_FUNO11_aveprice['vol_trade'] = df_price_FUNO11_aveprice['vol_trade'].apply(reajuste_vol_trade)
df_price_FUNO11_aveprice

In [ ]:
# FILTROS
# Usaremos el DataFrame all_df_price_hist
all_df_price_hist

In [ ]:
# Creamos el filtro
all_df_price_hist['ticker_price'].str.startswith('FUNO')

In [ ]:
# realizamos una consulta aplicando el filtro
all_funo11_price = all_df_price_hist[all_df_price_hist['ticker_price'].str.startswith('FUNO')]
all_funo11_price

In [ ]:
# SORT
all_funo11_price[all_funo11_price['close_price']>25].sort_values('date_price', ascending=False).head(24)

In [ ]:
# MERGE
# Verlo en n17_edores_balgral